@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
  }

/* Navigation bar styles */
.journal-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}
.journal-left-container {
    margin: 8px;
}

.journal-left-container img {
    max-width: 100px; 
    height: auto; 
}

.journal-sidebar {
    display: flex;
    list-style-type: none; 
    align-items: center;

}

.journal-sidebar li {
    margin-right: 15px; 
}

.journal-sidebar li a {
    text-decoration: none; 
    color: black;
    font-weight: medium;

}

.go-wep-button{
    padding: 12px 24px;
    border: 2px solid rgb(249, 199, 79);
    color: F9C74F; 
    background-color: transparent; 
    border-radius: 50px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}
.go-wep-button:hover a{
    color: white;
}
.go-wep-button:hover{
    background-color: rgb(249, 199, 79); 
}

/* Intro-Img */
.intro-img{
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.intro-img img{
    max-width: 100%; 
    margin: 5px;

}

/* Animal Supporter Section */
.animal-container p{
    margin: 8px;
    font-size: 20px;
    font-weight: 450;
}
.sticker-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 50px;
  }

  .cell img{
    width: 220px;
    height: 220px;
  }